:root {
    --bg: hsl(0, 0%, 13%);
    --bg-d: hsl(0, 0%, 7%);
    --bg-l: hsl(0, 0%, 27%);
    --bg-ll: hsl(0, 0%, 45%);
    --bg-lll: hsl(0, 0%, 55%);
    --acc: hsl(300, 27%, 40%);
    --acc-l: hsl(300, 27%, 50%);
    --txt: hsl(0, 0%, 95%);
    --txt-m: hsl(0, 0%, 78%);
    --acc2: hsl(0, 67%, 55%);
    --seekbar: hsl(66, 40%, 35%);
    --marker: hsl(116, 42%, 50%);
}


html {
    width: 100vw;
    height: 100%;
    /* overflow: hidden; */
}
body {
    font-family: monospace;
    background-color: #222222;
    color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}

.timelineContainer {
    font-size: 16px;
    height: min-content;
    width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    padding: 24px 0px 16px 0px;
    background-color: var(--bg);
}

.instLabelsDiv {
    z-index: 10;
    position: sticky;
    height: 0;
    left: 0px;
    width: min-content;
}

input[type="text"], input[type="number"], textarea {
    font-size: 14px;
    font-family: monospace;
    background-color: var(--bg-l);
    border: none;
    color: var(--txt);
    margin: 10px 0px;
    padding: 8px;
    width: 200px;
}

textarea {
    word-break: keep-all;
    word-wrap: unset;
    transition: width 0.3s, height 0.3s;
    height: 200px;
    width: 300px;
}

textarea:focus {
    height: 400px;
    width: 600px;
}


input[type="text"]:focus, input[type="number"]:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 5px var(--bg-ll);
}

.newMap .buttonCont label {
    margin-top: 10px;
    font-size: 20px;
}


button {
    font-family: monospace;
    font-size: 16px;
    height: fit-content;
    margin: 10px;
    padding: 8px;
    background-color: var(--bg-l);
    border: none;
    color: var(--txt);
    cursor: pointer;
    width: 100%;
}

.accButton {
    background-color: var(--acc);
    color: var(--txt);
}

.accButton:hover {
    background-color: var(--acc-l);
}

.disabledButton {
    pointer-events: none;
    background-color: var(--bg-l);
    color: var(--txt-m);
    cursor: unset;
}

.disabledButton:hover {
    background-color: var(--bg-l);
    cursor: unset;
}

button:hover {
    background-color: var(--bg-ll);
}

.buttonCont {
    flex-direction: column;
    display: flex;
    align-items: center;
    width: max-content;
    margin: 50px;
}

.main {
    flex-direction: column;
    display: flex;
    align-items: center;
    padding-top: 100px;
}

.main .buttonCont button {
    font-size: 24px;
}

.newMap button {
    width: 200px;
}

.topBar {
    font-size: 16px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 40px;
    background-color: var(--bg-d);
    display: flex;
    align-items: center;
    padding: 4px 0;
    margin-bottom: 10px;
    z-index: 20;
}

.topBar button {
    width: auto;
    height: 28px;
    margin: 0 10px;
    padding: 4px 8px;
    font-size: 16px;
}

.editorMenu {
    font-size: 16px;
    position: fixed;
    width: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    height: inherit;
    overflow-y: scroll;
    z-index: 99;
}

.editorMenu > .buttonCont {
    justify-content: start;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: max-content;
    height: max-content;
}

.editorMenu > .buttonCont button {
    width: 200px;
}

.strzaleczka {
    position: relative;
    left: -5px;height: 24px;
    padding: 0 6px;
    padding-top: 5px;
    background: conic-gradient(var(--marker) 30deg, #0000 31deg 329deg, var(--marker) 330deg);
}

.instrumentLabel {
    user-select: none;
    background: linear-gradient(to right, var(--bg-ll), #00000000);
    height: 20px;
    align-content: center;
    z-index: 10;
    width: 200px;
    padding: 8px 4px;
}

div.event {
    z-index: 3;
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: auto -6px;
    border-radius: 6px;
    background-color: var(--bg-d);

}

.instrumentLine {
    align-content: center;
    height: 36px;
    background: linear-gradient(#00000000 48%, var(--bg-l) 50%, #00000000 52% 100%);
}

.instrumentLine:hover {
    background: linear-gradient(#00000000 48%, var(--bg-ll) 50%, #00000000 52% 100%);
}

div.bar {
    z-index: 0;
    position: absolute;
    display: inline-block;
    background-color: var(--bg-ll);
    height: 100%;
    width: 2px;
    margin: 0 -1px;
    top: 20px;
}

p.bpm {
    user-select: none;
    position: absolute;
    top: -34px;
    font-size: 14px;
    color: var(--txt-m);
    background-color: var(--bg-d);
    padding: 2px;
}



div.cursorBar {
    z-index: 1;
    display: flex;
    pointer-events: none;
    background-color: var(--seekbar);
    top: 15px;

}

.botBar {
    font-size: 16px;
    width: 100%;
    padding: 8px 0;
    background: linear-gradient(var(--bg-d) 47%, #0000);
    margin-top: 10px;
    height: 100px;

}

.botBar > div {
    margin: 0 10px;
    padding: 4px 8px;
}

.playbackCont {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: max-content;
}

.playbackCont > div {
    height: max-content;
    align-items: center;
    display: flex;
}

.playbackCont > div > input {
    margin-left: 10px;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: var(--bg-l);
    outline: none;
    height: 8px;
}

input[type="range"]::-webkit-slider-thumb, input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--acc);
    cursor: pointer;
    border-radius: 0;
    width: 8px;
    border: none;
}
input[type="range"]:hover::-webkit-slider-thumb, input[type="range"]:hover::-moz-range-thumb {
    outline: none;
    background-color: var(--acc-l);
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-color: var(--bg-l);
    appearance: none;
}

input[type="checkbox"]:hover {
    background-color: var(--bg-ll);
}

input[type="checkbox"]:checked {
    background-color: var(--acc);
}
input[type="checkbox"]:checked:hover {
    background-color: var(--acc-l);
}

.BP_HiHat_C.instrumentLabel{
    background: linear-gradient(to right, #2bcad9af, #00000000);
}

.BP_Kick_C.instrumentLabel{
    background: linear-gradient(to right, #000000af, #00000000);
}

.BP_Crash15_C.instrumentLabel{
    background: linear-gradient(to right, #ca2bd9af, #00000000);
}

.BP_Crash17_C.instrumentLabel{
    background: linear-gradient(to right, #d9742baf, #00000000);
}

.BP_FloorTom_C.instrumentLabel{
    background: linear-gradient(to right, #342bd9af, #00000000);
}

.BP_Ride17_C.instrumentLabel{
    background: linear-gradient(to right, #d9bf41af, #00000000);
}

.BP_Ride20_C.instrumentLabel{
    background: linear-gradient(to right, #d9a641af, #00000000);
}

.BP_Snare_C.instrumentLabel{
    background: linear-gradient(to right, #d94141af, #00000000);
}

.BP_Tom1_C.instrumentLabel{
    background: linear-gradient(to right, #41d9b3af, #00000000);
}

.BP_Tom2_C.instrumentLabel{
    background: linear-gradient(to right, #41d941af, #00000000);
}


.BP_HiHat_C > div.event {
    background-color: #2bcad9;
}

.BP_Kick_C > div.event {
    background-color: black;
}

.BP_Crash15_C > div.event {
    background-color: #ca2bd9;
}

.BP_Crash17_C > div.event {
    background-color: #d9742b;
}

.BP_FloorTom_C > div.event {
    background-color: #342bd9;
}

.BP_Ride17_C > div.event {
    background-color: #d9bf41;
}
.BP_Ride20_C > div.event {
    background-color: #d9a641;
}

.BP_Snare_C > div.event {
    background-color: #d94141;
}

.BP_Tom1_C > div.event {
    background-color: #41d9b3;
}

.BP_Tom2_C > div.event {
    background-color: #41d941;
}

/*
BP_HiHat_C
BP_Kick_C
BP_Crash15_C
BP_Crash17_C
BP_FloorTom_C
BP_Ride17_C
BP_Ride20_C
BP_Snare_C
BP_Tom1_C
BP_Tom2_C
*/
